html {
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
}
.keysWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.keysWrapper > div {
  width: 10%;
  height: 10%;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #000000;
  transition: all 0.07s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
.keyIdx {
  margin-top: 0.3em;
  color: #ffffff;
  flex: 1;
}
.drumName {
  color: #9555a5;
  font-size: 1.2rem;
  flex: 1.5;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
